:root {
    --font:'Barlow', sans-serif;
    --fontD:'Fraunces', serif;
    /* Primary */
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --text: hsl(167, 40%, 24%);
    --photographyText: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    /* Neutral */
    
    --desaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white:#fff;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--font);
    font-size: 1.8rem;
}
/* Global */
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 8.8rem;
}
h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/* Utility */
.center-text {
    text-align: center;
}
.not-margin {
    margin: 0;
}
/* Header */
.header {
    background-image: url(../img/desktop/image-header.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2rem;
}
.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}
.bar-text {
    color: var(--white);
    font-weight: 700;
    letter-spacing: -0.1rem;
    font-size: 2.5rem;
}
.links {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}
.links a {
    color: var(--white);
    font-weight: 400;
}
.links .buttom {
    color: var(--desaturatedBlue);
    font-family: var(--fontD);
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 2.5rem;
}
.bar__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    row-gap: 8rem;
}
.header-text {
    color: var(--white);
    font-family: var(--fontD);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
}
/* Main */
.information {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 768px) {
    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.information__text {
    padding: 15rem;
}
.information__text p {
    color: var(--darkGrayishBlue);
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.5rem;
}
.buttom-1,
.buttom-2 {
    font-family: var(--fontD);
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
.buttom-1 {
    
    text-decoration: underline 4px var(--yellow);
}
.buttom-2 {
    text-decoration: underline  4px var(--softRed);
}
.information__text-title {
    font-family: var(--fontD);
    color: var(--desaturatedBlue);
    font-weight: 700;
}
.information__image-1 {
    height: 60rem;
    background-image: url(../img/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.information__image-2 {
    height: 60rem;
    background-image: url(../img/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.information__image-text-1 {
    height: 60rem;
    background-image: url(../img/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.information__image-text-2 {
    height: 60rem;
    background-image: url(../img/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.text-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.image__text {
    padding:0 10rem 4rem 10rem;
    text-align: center;
}
.image__title1 {
    font-family: var(--fontD);
    color: var(--text);
}
.image__p1 {
    margin: 0 5rem;
    color: var(--text);
    font-weight: 500;
    line-height: 2.7rem;
}
.image__title2 {
    font-family: var(--fontD);
    color: var(--photographyText);
}
.image__p2 {
    margin: 0 5rem;
    color: var(--photographyText);
    font-weight: 500;
    line-height: 2.7rem;
    padding-bottom: .5rem;
}